@import '/style/fonts.css';
@import '/style/main.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: kepler-std, serif;
  background-color: #dfdfdf;
}
p {
  margin: 0;
  font-size: 1.2rem;
}
a:hover{
  cursor: pointer;
}
label {
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-column-break-before: always;
	break-before: column;
}

#content-holder, #new-content-holder{
  display:flex;
  justify-content: space-between;
}
#signed-in{
  max-width: 1180px;
  margin: auto;
  height: 100%;
}
#signed-out {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}
#main-holder, #alert {
  min-width: 15em;
  min-height: 15em;
  width: 30vh;
  height: 30vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  text-align: center;
  padding: 7px;
  margin: 10vh auto;
}
#userimage {
  position: relative;
  top: .75em;
  margin-top: -1em;
  width: 2em;
  line-height: 0;
}
#content {
  margin: 0 2vh;
}
#calendar-holder{
  margin-top: 1em;
}
#event-bucket-holder{
  display: flex;
  justify-content: space-between;
}
#x-button{
  float: right;
  padding: 0 5px;
  background-color: #fff;
  border: thin solid black;
  border-radius: 10px;
  margin: -45px -20px;
  font-size: 1.5em;
  line-height: .9;
}
.full-width  {
  width: calc(100% - 24px);
}
.event-bucket{
  display: inline-block;
  padding: 12px;
  border: thick solid #9DB2C6;
  border-radius: 5px;
  width:20%;
}
.event-button{
  font-size: 1.2em;
  padding:5px;
  margin:5px;
}
.event{
  margin:.25em;
  padding:.25em;
  border:thin solid black;
  border-radius: 5px;
}
.form-item{
  margin: 5px;
}
.form-button {
  background-color: #28262B;
  color: #DBD282;
  font-size: 1.3em;
  font-weight: 700;
  margin:1em;
}
.g-signin2{
  margin: auto;
}
.user {
  padding: 2vh;
  text-align: right;
}
.cost-hidden{
  display: none;
}
.flow-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 850px) {
  #content-holder, .form-button, #event-bucket-holder, #new-content-holder {
    display: block;
  }
  .event-bucket{
    display: block;
    width:auto;
    margin: 1em;
  }
}
