@import '../style/fonts.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: kepler-std, serif;
  background-color: #efefef;
}
p {
  margin: 0;
}
button, input, select, option {
  padding: 10px;
}
#prompt {
  margin: 5vh 1vh 1vh 1vh;
  text-align: center;
}
#authorize_button {
  margin: 1vh 1vh 5vh 1vh;
}
.g-signin2{
  margin: auto;
}
#signed-out {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}
#signed-in {
  display: none;
}
#main-holder {
  width: 30vh;
  height: 30vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}
.user {
  margin: 2vh;
  text-align: right;
}
#userimage {
  position: relative;
  top: .75em;
  margin-top: -1em;
  width: 2em;
  line-height: 0;
}
#content {
  margin: 0 2vh;
}
