@import '/style/fonts.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: kepler-std, serif;
  background-color: #dfdfdf;
  overflow: hidden;
}
p {
  margin: 0;
  font-size: 1.2rem;
}
button, select, input {
  padding: 12px;
  background-color: #9DB2C6;
  border-radius: 5px;
  border: none;
}
label {
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-column-break-before: always;
	break-before: column;
}
legend{
  font-weight: 700;
  font-size: 2em;
}
form {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 5px 10px 5px;
  max-width: 1180px;
  margin: auto;
}
fieldset{
  border-radius: 5px;
  border: thin solid #28262B;
}
#alert{
  margin-top:10vh;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  width: 50vw;
  margin: auto;
  text-align: center;
}
#content-holder, #new-content-holder{
  display:flex;
  justify-content: space-between;
}
#prompt {
  margin: 10vh 1vh 1vh 1vh;
  text-align: center;
}
#authorize_button {
  margin: 1vh 1vh 10vh 1vh;
}
#signed-in{
  max-width: 1180px;
  margin: auto;
  height: 100%;
  overflow: auto;
}
#signed-out {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}
#main-holder {
  min-width: 15em;
  min-height: 15em;
  width: 30vh;
  height: 30vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}
#userimage {
  position: relative;
  top: .75em;
  margin-top: -1em;
  width: 2em;
  line-height: 0;
}
#content {
  margin: 0 2vh;
}
#button-wrapper{
  display: flex;
}
#calendar-holder{
  margin-top: 1em;
}
#event-bucket-holder{
  display: flex;
  justify-content: space-between;
}
#blocker{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(0,0,0,0.3);
  overflow: auto;
}
#new-type-form{
  margin: 10vh auto;
}
#x-button{
  float: right;
  padding: 0 5px;
  background-color: #fff;
  border: thin solid black;
  border-radius: 10px;
  margin: -45px -20px;
  font-size: 1.5em;
  line-height: .9;
}
.full-width  {
  width: calc(100% - 24px);
}
.event-bucket{
  display: inline-block;
  padding: 12px;
  border: thick solid #9DB2C6;
  border-radius: 5px;
  width:20%;
}
.event-button{
  font-size: 1.2em;
  padding:5px;
  margin:5px;
}
.event{
  margin:1em 0;
}
.form-item{
  margin: 1em 0;
}
.form-button {
  margin-top: 1em;
  background-color: #28262B;
  color: #DBD282;
  font-size: 1.3em;
  font-weight: 700;
  margin:1em auto;
}
.g-signin2{
  margin: auto;
}
.user {
  margin: 2vh;
  text-align: right;
}
.cost-hidden{
  display: none;
}
@media only screen and (max-width: 850px) {
  #content-holder, #button-holder, .form-button, #event-bucket-holder, #new-content-holder {
    display: block;
  }
  .event-bucket{
    display: block;
    width:auto;
    margin: 1em;
  }
}
