@font-face {
  font-family: kepler-std;
  src: url(https://use.typekit.net/af/b795d0/000000000000000000013142/27/l?subset_id=2&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/b795d0/000000000000000000013142/27/d?subset_id=2&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/b795d0/000000000000000000013142/27/a?subset_id=2&fvd=n3&v=3) format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: kepler-std;
  src: url(https://use.typekit.net/af/de0ac1/000000000000000000013146/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/de0ac1/000000000000000000013146/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/de0ac1/000000000000000000013146/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: kepler-std;
  src: url(https://use.typekit.net/af/4337b5/000000000000000000013144/27/l?subset_id=2&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/4337b5/000000000000000000013144/27/d?subset_id=2&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/4337b5/000000000000000000013144/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: kepler-std;
  src: url(https://use.typekit.net/af/3f55d3/00000000000000000001313f/27/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/3f55d3/00000000000000000001313f/27/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/3f55d3/00000000000000000001313f/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: kepler-std;
  src: url(https://use.typekit.net/af/304385/000000000000000000013143/27/l?subset_id=2&fvd=i3&v=3) format("woff2"), url(https://use.typekit.net/af/304385/000000000000000000013143/27/d?subset_id=2&fvd=i3&v=3) format("woff"), url(https://use.typekit.net/af/304385/000000000000000000013143/27/a?subset_id=2&fvd=i3&v=3) format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: kepler-std;
  src: url(https://use.typekit.net/af/d0cd82/000000000000000000013141/27/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/d0cd82/000000000000000000013141/27/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/d0cd82/000000000000000000013141/27/a?subset_id=2&fvd=i4&v=3) format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: kepler-std;
  src: url(https://use.typekit.net/af/2c86cd/000000000000000000013140/27/l?subset_id=2&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/2c86cd/000000000000000000013140/27/d?subset_id=2&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/2c86cd/000000000000000000013140/27/a?subset_id=2&fvd=i7&v=3) format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
html {
  padding: 0;
  margin:0;
}
body {
  background-color: #eaeaf6;
  font-family: kepler-std, serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.4em;
  padding:0;
  margin:0;
}

header {
  position: absolute;
  top: 0;
  width:100%;
  color: #0e83aa;
  background-color: #171736;
  margin: 0;
  height: 60px;
}
main {
  margin-top: 60px;
}
h1 {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: #0e83aa;
  margin: calc((100vh - 80px)/2) 0;
}
img {
  width:100%;
  max-width: 100%;
}
figure {
  margin: 0;
  padding: 1vw;
}
footer{
  background-color: #171736;
  text-align: center;
  color: white;
  padding: 2px;
}
.branding {
  margin: 0;
  line-height: .7;
  font-weight: inherit;
  width: 33%;
  flex: 1 1 33%;
  font-size: calc(2.16vw +  1rem);
  white-space: nowrap;
}
a {
  color: inherit;
  text-decoration: none;
}
.nav-flex{
  display: flex;
  flex-wrap: nowrap;
  padding: 15px;
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  padding: 5vh 0;
}
.header-nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 25%;
  flex: 1 1 25%;
}
.header-nav-item {
  font-size: 20px;
  width: 33%;
  text-align: center;
}
.wrapper{
  width: 100%;
  max-width: 1020px;
  margin:auto;
}
.half{
  width: 50%;
}
.main-image {
  width: 130%;
}
.card-wrapper {
  padding: 15px 30px;
  background-color: white;
  margin: 10vh 1vw 0 0;
  width: calc(50% - 60px);
  position: absolute;
  top:50;
  right:0;
}
.title {
  font-size: calc(2.16vw +  1rem);
  color: #0e83aa;
  margin: 1vw 0;
}
.subtitle {
  color: #0e83aa;
  font-style: italic;
}
.tools {
  display: flex;
  flex-wrap: nowrap;
  padding: 5vh 0 20vh 0;
}
.tool {
  text-align: center;
  background-color:#171736;
  color: #0e83aa;
  width: 30vw;
  flex: 1 1 30vw;
  margin: 1vw 1vw;
  border-radius: 1vw;
}
.tool-header {
  font-size: calc(2.16vw +  1rem);
  font-weight: 700;
}
.testimonials {
  text-align: center;
  background-color:#0e83aa;
  color: white;
  padding: 20vh 2vw;
}
.quote {
  font-size: calc(1.44vw +  1rem);
  font-weight: 700;
  line-height: 1.4;
}
.questions {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: #0e83aa;
  margin: calc((80vh - 80px)/2) 0;
}
